.menu .nav-level-1 
    @include media-breakpoint-up(desktop)
        > li 
            > a,
            > span
                    font-family: $italic-font-family
        .nav-level-2 
            @include grid(2)
            > li + li
                margin-top: 0 !important
            span
                font-family: $italic-font-family

.hero
    .content
        hgroup.has-lead > p
            font-family: $body-font-family


.events-calendar .calendar-month tbody a,
.events-calendar .calendar-month caption a
    color: var(--color-text)
.events-calendar .calendar-month caption a
    @include link

.posts,
.events
    .media
        img
            aspect-ratio: 1
            object-fit: cover
.events
    &--large
        .event
            .event-title,
            .event-subtitle
                font-weight: bold !important
            .event-dates
                @include in-page-without-sidebar
                    @include small

.toc.toc-pages
    ol li a
        @include meta
        &.active
            font-family: $italic-font-family

.block
    &-persons
        .person-name
            font-family: $body-font-family !important
        .avatar
            border-radius: 0
    &-chapter--accent_background
        .text p
            @include lead-hero
            @include media-breakpoint-up(xxl)
                @include lead

footer#document-footer
    .site-links
        a
            font-family: $italic-font-family
    @include media-breakpoint-up(desktop)
        .footer-logo
            margin-left: auto
            margin-right: auto
        .container:nth-child(2)
            flex-direction: column-reverse
            align-items: center
        .site-links
            margin-bottom: $spacing-4
        .site-links,
        .footer-legals,
        .nav-legal
            display: flex
            gap: $spacing-3
        .nav-legal,
        .site-links
            li + li
                margin-top: 0 !important
        .footer-credit
            margin-top: 0